<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">polices</ion-title>
    <ion-icon name="lock-closed" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">polices</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Política e Privacidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bem-vindo à nossa Política de Privacidade. Aqui explicaremos como coletamos, usamos e protegemos suas informações pessoais ao usar nosso aplicativo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Informações Gerais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta política de privacidade descreve como nós coletamos, usamos e protegemos as informações pessoais que você fornece ao usar nosso aplicativo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Coleta de Informações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Podemos coletar informações pessoais, como nome, endereço de e-mail, e outras informações relevantes quando você se cadastra em nosso aplicativo ou interage conosco de outras formas.
    </ion-card-content>
  </ion-card>

  <!-- Adicione mais seções conforme necessário -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Se você tiver dúvidas sobre esta política de privacidade, entre em contato conosco através do endereço de e-mail: [seu endereço de e-mail de contato].
    </ion-card-content>
  </ion-card>
</ion-content>
